html {
  font-family: monospace;
  background-color: #16161C;
  color: #BBBBBB;
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin: 0 4em 2em 1em;
}

input:disabled, input:disabled + label {
  opacity: 0.6;
}

input[invalid]:checked, input[invalid]:checked + label {
  text-decoration: line-through;
}