html {
  font-family: monospace;
  background-color: #16161C;
  color: #BBBBBB;
}

section {
  margin: 0 1em 2em;
}

input:disabled, input:disabled + label {
  opacity: 0.6;
}

input[invalid]:checked, input[invalid]:checked + label {
  text-decoration: line-through;
}