:root {
  --fg:         #BBBBBB;
  --bg:         #16161C;
  --gray:       #4C4D53;
  --cranberry:  #E95678;
  --apricot:    #F09483;
  --rosebud:    #FAB795;
  --tacao:      #FAC29A;
  --turquoise:  #25B0BC;
  --lavender:   #B877DB;
}

html {
  font-size: 16px;
  font-family: monospace;
  background-color: var(--bg);
  color: var(--fg);
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin: 0 1em 1em;
}

input:disabled, input:disabled + label {
  color: var(--gray);
}

input[invalid]:checked,
input[invalid]:checked + label,
input[invalid]:checked + label > * {
  color: var(--cranberry);
  font-weight: bold;
  text-decoration: line-through;
}

input[origin],
input[origin] + label,
input[origin] + label > * {
  font-weight: bold;
}

.trait-point {
  display: inline-block;
  width: 2ch;
  text-align: right;
}

.cranberry { color: var(--cranberry); }
.apricot   { color: var(--apricot); }
.rosebud   { color: var(--rosebud); }
.tacao     { color: var(--tacao); }
.turquoise { color: var(--turquoise); }
.lavender  { color: var(--lavender); }


.tooltip {
  color: var(--fg);
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  border: 1px solid;
  padding: 0.5em;
  background-color: var(--bg);
}

div:hover > .tooltip {
  display: block;
}

ul, li { margin: 0; }

li { list-style-type: disc; }

li[fail] { color: var(--cranberry); }
li[pass] { color: var(--turquoise); }

li[present] {
  color: var(--rosebud);
  font-weight: bold;
}
